!!!5
html
  head
    link(rel='stylesheet', href='/style.css')
    title Canvas
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/jquery.mousecapture.js')
    script(src='/canvas.js')
    script
      var room = '#{room}';
  body
    canvas#canvas(width='512', height='512')
