%h1 Listing textures

%table
  %tr
    %th
    %th
    %th

  - @textures.each do |texture|
    %tr
      %td= link_to 'Show', canvas_texture_path(@canvas, texture)
      %td= link_to 'Edit', edit_canvas_texture_path(@canvas, texture)
      %td= link_to 'Destroy', canvas_texture_path(@canvas, texture), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Texture', new_canvas_texture_path(@canvas)
